$form-color : #777;
$form-border-color : rgba(0,0,0,.1);
$green : #83b735;
$dark-green : #459647;
$gray : #f6f6f6;
$gray-300 : #bbb;
$trans : all 0.2s ease;
$layout-padding : 30px 100px;
$gray1 : rgba(255,255,255,.6);